<header *ngIf="isLoggedIn$ | async" class="bg-blue-600 text-white">
    <div class="max-w-7xl mx-auto px-4 py-6 flex items-center justify-between">
        <!-- Logo/Brand -->
        <div class="text-2xl font-semibold">
            <a routerLink="/" class="text-white hover:text-gray-300">RecycleHub</a>
        </div>

        <!-- Navigation -->
        <nav>
            <ul class="flex space-x-6">
            <li *ngIf="isLoggedIn$ | async">
                <a [routerLink]="userType === 'individual' ? '/requests/list' : '/collector/dashboard'" class="hover:text-gray-300">
                    {{ userType === 'individual' ? 'Requests' : 'Dashboard' }}
                </a>
            </li>
                <li>
                    <a routerLink="/profile" class="hover:text-gray-300">Profile</a>
                </li>
                
                <li>
                    <a (click)="logout()" class="hover:text-gray-300 cursor-pointer">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>