@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dashboard-container {
    animation: fadeIn 0.8s ease-in-out;
}

.requests-table {
    th {
        transition: background-color 0.3s ease-in-out;
    }

    tr:hover th,
    tr:hover td {
        background-color: #2f5d4b; // Slight hover effect for better visibility
    }

    .waste-badge {
        transition: transform 0.3s ease-in-out;
    }

    .waste-badge:hover {
        transform: scale(1.1);
    }


    select {
        width: 100%;
        border: 2px solid #16a085;
        transition: transform 0.3s ease, background-color 0.3s ease;
        
        &:hover {
            transform: scale(1.05);
            background-color: #1abc9c;
        }
    }
}
